src/static_data/**/*.json* filter=lfs diff=lfs merge=lfs -text
tests/data/*.gz filter=lfs diff=lfs merge=lfs -text
tests/data/*/*.gz filter=lfs diff=lfs merge=lfs -text
tests/data/*.fasta filter=lfs diff=lfs merge=lfs -text
tests/data/*/*.fasta filter=lfs diff=lfs merge=lfs -text
tests/data/*/*.tsv filter=lfs diff=lfs merge=lfs -text
tests/data/*/*/*.tsv filter=lfs diff=lfs merge=lfs -text
